body {
	background-color: darkgrey;
	text-align: center;
	font-style: italic;
	display: grid;
	justify-content: center;
}

h2, h1 {
	margin-top: 25px;
	margin-bottom: 50px;
}

.progress {
	width: 100%;
	border: 1px solid;
}

.btn {
	border: 1px solid black;
}

